@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes glitchRGB {
  0% { filter: hue-rotate(0deg); }
  20% { filter: hue-rotate(20deg); }
  40% { filter: hue-rotate(-20deg); }
  60% { filter: hue-rotate(10deg); }
  100% { filter: hue-rotate(0deg); }
}

.animate-glitchRGB {
  animation: glitchRGB 0.4s infinite;
}

/* scan line */
@keyframes scanline {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(200%); }
}

.animate-scanline {
  animation: scanline 2.2s linear infinite;
}
